---
http_interactions:
- request:
    method: get
    uri: http://openlibrary.org/search.json?limit=5&title=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 0.091 TT 0 0.093"'
    body:
      encoding: UTF-8
      string: |-
        {
            "numFound": 36,
            "start": 0,
            "numFoundExact": true,
            "docs": [
                {
                    "key": "/works/OL4930574W",
                    "type": "work",
                    "seed": [
                        "/books/OL17801719M",
                        "/books/OL17665953M",
                        "/books/OL2663740M",
                        "/works/OL4930574W",
                        "/subjects/government_executives",
                        "/subjects/training_of",
                        "/subjects/western_executive_seminar_center_(denver_colo.)",
                        "/subjects/place:united_states",
                        "/authors/OL1059069A"
                    ],
                    "title": "Relocation of Western Executive Seminar Center from Denver to Grand Junction, CO",
                    "title_suggest": "Relocation of Western Executive Seminar Center from Denver to Grand Junction, CO",
                    "has_fulltext": false,
                    "edition_count": 3,
                    "edition_key": [
                        "OL17801719M",
                        "OL17665953M",
                        "OL2663740M"
                    ],
                    "publish_date": [
                        "1984"
                    ],
                    "publish_year": [
                        1984
                    ],
                    "first_publish_year": 1984,
                    "number_of_pages_median": 100,
                    "lccn": [
                        "85601140"
                    ],
                    "publish_place": [
                        "Washington"
                    ],
                    "contributor": [
                        "United States. Congress. House. Committee on Post Office and Civil Service. Subcommittee on Civil Service."
                    ],
                    "lcc": [
                        "KF-0027.00000000.G6678 1984g"
                    ],
                    "ddc": [
                        "353.0740978883"
                    ],
                    "last_modified_i": 1604445783,
                    "ebook_count_i": 0,
                    "publisher": [
                        "U.S. G.P.O."
                    ],
                    "language": [
                        "eng"
                    ],
                    "author_key": [
                        "OL1059069A"
                    ],
                    "author_name": [
                        "United States. Congress. House. Committee on Government Operations. Manpower and Housing Subcommittee."
                    ],
                    "author_alternative_name": [
                        "United States. Congress. House. Committee on Government Operations. Manpower and Housing Subcommittee",
                        "United States. Congress. House. Committee on Government Operations Manpower and Housing Subcommittee."
                    ],
                    "place": [
                        "United States"
                    ],
                    "subject": [
                        "Government executives",
                        "Training of",
                        "Western Executive Seminar Center (Denver, Colo.)"
                    ],
                    "publisher_facet": [
                        "U.S. G.P.O."
                    ],
                    "place_key": [
                        "united_states"
                    ],
                    "subject_facet": [
                        "Government executives",
                        "Training of",
                        "Western Executive Seminar Center (Denver, Colo.)"
                    ],
                    "_version_": 1715092822517874688,
                    "place_facet": [
                        "United States"
                    ],
                    "lcc_sort": "KF-0027.00000000.G6678 1984g",
                    "author_facet": [
                        "OL1059069A United States. Congress. House. Committee on Government Operations. Manpower and Housing Subcommittee."
                    ],
                    "subject_key": [
                        "government_executives",
                        "training_of",
                        "western_executive_seminar_center_(denver_colo.)"
                    ],
                    "ddc_sort": "353.0740978883"
                },
                {
                    "key": "/works/OL8503198W",
                    "type": "work",
                    "seed": [
                        "/books/OL10909613M",
                        "/works/OL8503198W",
                        "/authors/OL2843451A"
                    ],
                    "title": "Denver, Co",
                    "title_suggest": "Denver, Co",
                    "has_fulltext": false,
                    "edition_count": 1,
                    "edition_key": [
                        "OL10909613M"
                    ],
                    "publish_date": [
                        "January 2001"
                    ],
                    "publish_year": [
                        2001
                    ],
                    "first_publish_year": 2001,
                    "isbn": [
                        "9780762507849",
                        "0762507845"
                    ],
                    "last_modified_i": 1338943517,
                    "ebook_count_i": 0,
                    "publisher": [
                        "Universal Map Enterprises"
                    ],
                    "language": [
                        "eng"
                    ],
                    "author_key": [
                        "OL2843451A"
                    ],
                    "author_name": [
                        "Universal Map"
                    ],
                    "publisher_facet": [
                        "Universal Map Enterprises"
                    ],
                    "_version_": 1715096877364412420,
                    "author_facet": [
                        "OL2843451A Universal Map"
                    ]
                },
                {
                    "key": "/works/OL896607W",
                    "type": "work",
                    "seed": [
                        "/books/OL10945157M",
                        "/works/OL896607W",
                        "/authors/OL79165A"
                    ],
                    "title": "Denver west, CO and Bailey, CO: Denver, CO",
                    "title_suggest": "Denver west, CO and Bailey, CO: Denver, CO",
                    "subtitle": "39105, digital raster graphic data",
                    "has_fulltext": false,
                    "edition_count": 1,
                    "edition_key": [
                        "OL10945157M"
                    ],
                    "publish_date": [
                        "1996"
                    ],
                    "publish_year": [
                        1996
                    ],
                    "first_publish_year": 1996,
                    "isbn": [
                    [...]
